{% extends "base.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<h1>Авторизация</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(size=32, class="form-control", placeholder="Введите имя пользователя") }}
        {% for error in form.username.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(size=32, class="form-control", placeholder="Введите пароль") }}
        {% for error in form.password.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
<a href="{{ url_for('main.register') }}">Зарегистрироваться</a>
{% endblock %}
